node_modules/
.idea/
config.json
pool_configs/*.json
!pool_configs/litecoin_example.json
npm-debug.log
multipool/inferno-payment.sh
multipool/inferno-profit.sh
multipool/nxt-payment.sh
website/static/scrypt.txt
website/static/sha256.txt
multipool/webdis.json
